body:after {
  content: 'beta';
  position: fixed;
  width: 200px;
  height: 35px;
  background: #fff;
  top: 20px;
  left: -45px;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: $label-colour;
  line-height: 32px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
