.gameModal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 10em;
    font-weight: bolder;
    color: $text-colour;
  }

  h2 {
    text-align: center;
    color: $text-colour;
  }

  .controller {
    padding: 150px;
  }

  .keyboard {
    padding: 150px;
  }
}
