.instructions {
  border: 2px solid $border-grey;
  border-radius: 5px;
  padding: 5px 10px;
  width: $cell-size * 5;
  color: $text-colour;
  margin-top: 20px;

  p {
    padding: 5px 10px;

    span {
      background-color: $label-colour;
      width: 100%;
      text-align: center;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }
}
