.next-queue {
  border: 2px solid $border-grey;
  border-radius: 5px;
  float: right;
  padding: 5px 10px;
  color: $text-colour;
  top: 10px;

  .o-tetrimino {
    position: relative;
    margin: 20px 50px;
  }

  .i-tetrimino {
    position: relative;
    margin: 20px 50px;
  }

  .t-tetrimino {
    position: relative;
    margin: 20px 50px;
  }
}
