.score-board {
  border: 2px solid $border-grey;
  border-radius: 5px;
  padding: 5px 10px;
  width: $cell-size * 5;
  color: $text-colour;

  p {
    padding: 5px 10px;
    span {
      width: 100%;
      padding: 2px 5px;
      font-weight: bolder;
    }
  }
}
