.mino {
  display: block;
  width: $mino-size;
  height: $mino-size;
  border: $mino-border-size solid $border-grey;
}

.o {
  background-color: $o-colour;
}

.i {
  background-color: $i-colour;
}

.t {
  background-color: $t-colour;
}

.l {
  background-color: $l-colour;
}

.j {
  background-color: $j-colour;
}

.s {
  background-color: $s-colour;
}

.z {
  background-color: $z-colour;
}
