$base-colour: rgba(2, 47, 119, 0.9);

$label-colour: #003366;

$text-colour: #fff;

$border-grey: #c0c0c0;

$border-colour: #5697ff;

$highlight-colour: rgba(191, 255, 231, 0.1);

$o-colour: #f6f05e;
$i-colour: #5cb5ec;
$t-colour: #e444e1;
$l-colour: #f0ae55;
$j-colour: #5e7adf;
$s-colour: #62cf39;
$z-colour: #e64528;
