.matrixGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: ($cell-size * 10);

  .grid-cell {
    border: $mino-border-size solid $border-colour;
    flex: 0 0 $cell-size;
    height: $cell-size;
    width: $cell-size;
  }

  .highlight-tile {
    background-color: $highlight-colour;
  }
}

.tetriminoGrid {
  display: flex; /* establish flex container */
  flex-wrap: wrap; /* enable flex items to wrap */
  justify-content: space-around;
  width: ($cell-size * 3.2);
  margin-bottom: 10px;
  .cell {
    flex: 0 0 $cell-size; /* don't grow, don't shrink, width */
    height: $cell-size;
    margin-bottom: 3px;
    background-color: $border-grey;
  }
}
