@import 'modules/_colour.scss';
@import 'modules/_typography.scss';

@import 'utils/_variables';
@import 'utils/_mixins';

@import 'layout/_grid.scss';

@import 'components/_matrix.scss';
@import 'components/_tetrimino.scss';
@import 'components/_guide.scss';
@import 'components/_nextQueue.scss';
@import 'components/_scoreBoard.scss';
@import 'components/_gameModal.scss';
@import 'components/_beta.scss';

$frame-margin: 50px;

* {
  box-sizing: border-box;
}

body {
  font: $fonts;
  margin: $frame-margin;
  background-color: $base-colour;
  position: relative;
}
